Sales of products in four different regions is tabulated for males and females. Find if male-female buyer rations are similar across regions.

Null Hypothesis(Ho):All proportions are equal.
Alternative Hypothesis(H1):Not all proportions are equal.

In [1]:
import pandas as pd
from scipy import stats as stats
import numpy as np

In [3]:
df= pd.read_csv("BuyerRatio.csv")

In [4]:
df

  Observed Values  East  West  North  South
0           Males    50   142    131     70
1         Females   435  1523   1356    750

In [5]:
df_table=df.iloc[:,1:6]
df_table

   East  West  North  South
0    50   142    131     70
1   435  1523   1356    750

In [6]:
df_table.values

array([[  50,  142,  131,   70],
       [ 435, 1523, 1356,  750]], dtype=int64)

In [9]:
val=stats.chi2_contingency(df_table)

In [10]:
val

Chi2ContingencyResult(statistic=1.595945538661058, pvalue=0.6603094907091882, dof=3, expected_freq=array([[  42.76531299,  146.81287862,  131.11756787,   72.30424052],
       [ 442.23468701, 1518.18712138, 1355.88243213,  747.69575948]]))

In [11]:
type(val)

scipy.stats.contingency.Chi2ContingencyResult

In [13]:
no_of_rows=len(df_table.iloc[0:2,0])
no_of_columns=len(df_table.iloc[0,0:4])
degree_of_f=(no_of_rows-1)*(no_of_columns-1)
print('Degree of Freedom=',degree_of_f)

Degree of Freedom= 3

In [14]:
Expected_value=val[3]

In [15]:
Expected_value

array([[  42.76531299,  146.81287862,  131.11756787,   72.30424052],
       [ 442.23468701, 1518.18712138, 1355.88243213,  747.69575948]])

In [16]:
from scipy.stats import chi2
chi_square=sum([(o-e)**2/e for o,e in zip(df_table.values,Expected_value)])
chi_square_statastic=chi_square[0]+chi_square[1]
chi_square_statastic

1.5152956451130446

In [17]:
critical_value=chi2.ppf(0.95,3)
critical_value

7.814727903251179

In [20]:
if chi_square_statastic >= critical_value:
	print('Dependent (reject H0)')
else:
	print('Independent (fail to reject H0)')

Independent (fail to reject H0)

In [21]:
pvalue=1-chi2.cdf(chi_square_statastic,3)
pvalue

0.6787446296467897

In [22]:
if pvalue <= 0.05:
	print('Dependent (reject H0)')
else:
	print('Independent (fail to reject H0)')

Independent (fail to reject H0)